<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>OzYWZlqn257Fz4uZup8QTuwbF0PGwAbh0zHFNzgH2DgsA5yeAI</string>
	<key>API Key</key>
	<string>EHQBThWwlz2udYPMueiRjVGzx</string>
</dict>
</plist>
